{% extends 'todo/base.html' %}

{% block content %}
    <body>
        <div class="container">
            <form role="form">
                <div class="form-group">
                    <label for="comment">ToDo:</label>
                    <textarea class="form-control" rows="2" id="comment" minlength="1" maxlength="160" placeholder="Max 160 characters" style="resize: vertical;"></textarea>
                    <br>
                    <label class="control-label " for="date">Deadline:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                            <input class="form-control" id="date" name="date" placeholder="DD.MM.YYYY" type="text">
                    </div>
                    <br>
                    <br>
                    <div id="slider">
                        <label for="rangeinput">Progress:</label>
                        <input class="bar" type="range" id="rangeinput" value="0" onchange="rangevalue.value=value" >
                        <output id="rangevalue">0</output>
                    </div>
                    <br>
                    <br>
                    <a href="{% url 'todo_list' %}" class="btn btn-success btn-lg" role="button">Add</a>
                </div>
            </form>
            <a href="{% url 'todo_impressum' %}" class="btn btn-default btn-lg" role="button">Impressum</a>
        </div>
    </body>

    <footer>
        <script>
            $(document).ready(function(){
                var date_input=$('input[name="date"]'); //our date input has the name "date"
                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                date_input.datepicker({
                    format: 'dd.mm.yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                })
            })
        </script>
    </footer>
{% endblock %}