{% extends 'todo/base.html' %}

{% block content %}
    <body>
        <div class="container">

            <table class = "table table-hover">
                <thead>
                    <tr>
                        <th>ToDo</th>
                        <th>Deadline</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <th>{{ todo.text }}</th>
                        <th>{{ todo.deadline }}</th>
                        <th>{{ todo.progress }}</th>
                        <th>
                            <a href="{% url 'todo_edit' pk=todo.pk %}" class="btn btn-warning btn-sm" title="edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{% url 'todo_delete' pk=todo.pk %}" class="btn btn-danger btn-sm" title="delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                 </tbody>
            </table>
            <a href="{% url 'todo_impressum' %}" class="btn btn-default btn-lg" role="button">Impressum</a>
        </div>
    </body>
{% endblock %}